@import 'antd/dist/antd.css';
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    scroll-behavior: smooth;
    /* font-family: 'Rubik', sans-serif; */
}

html{
    scroll-behavior: smooth;
}